<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slido</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/sli-do.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/sli-do.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
<header>
    <div class="preheader">
        <div class="prvi">
            <a href="/users/dashboard"><i class="fa fa-user" aria-hidden="true" style="margin-left: 10px"></i></a>
            <span style="margin-left: 5px;font-family: fantasy;font-size: 20px"><%=user%></span>


        </div>
        <div class="prvi"style="text-align: right">
            <a href="/users/logout" style="font-size: 20px;font-family: fantasy;color: black;text-decoration: none"><i class="fas fa-sign-out-alt"></i>Odjavi se</a>


        </div>


    </div>
</header>
<div class="container">
    <div class="row text-center">
        <h4 style="font-size: 170px;font-family: fantasy"><%=kod%></h4>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/07758f63a4.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</body>
</html>