{
  padding: 0px;
  margin: 0px;
  color: black;
}
body{
  background-color: dimgrey;
}
.preheader{
  background-color:gray;
  padding: 10px;
  margin-bottom: 10px;
}
.preheader .prvi{
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}
.preheader .prvi i{
  font-size: 25px;
}
#poruke .hed{
  color:black;
  font-weight: bold;
}
.fa-trash{
  cursor:pointer;
}
.fa-solid{
  cursor: pointer;
}